.thumbnail {
    width: 100%;
}

.video-info, .channel-image {
    display: inline-block;
}

.video-link,
.video-author-link {
    color: inherit;
    text-decoration: none;
}

.profile-picture {
    width: 70%;
    border-radius: 50%;
}

.video-title {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin-bottom: 10px;
}

.thumbnail-row {
    margin-bottom: 8px;
    position: relative;
}

.video-author, .video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.video-grid {
    display: grid;
    column-gap: 16px;
    row-gap: 40px;
}

/* media query for responsive design. */
@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.video-time {
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 8px;
    padding: 5px 4px 5px 4px;
    border-radius: 2px;
}